/* styling for dropdown container */
.dropdown-body {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* dropdown menu styling */
.dropDown-menu {
  width: 25%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: whitesmoke;
  border-radius: 10px;
}

.dropDown-menu p {
  font-size: 1.2rem;
}

.dropDown-menu img {
  width: 20px;
}

/* dropdonw menu selector content */
.dropDown-content {
  margin-top: 5px;
  background-color: whitesmoke;
  width: 25%;
  border-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
}
